@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Nova+Slim&display=swap');

body {
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}


.pages-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5% 15%;
    padding: 0% 10%;
    height: 600px;
}

.page {
    background-color: #0B5B98;
    padding: 4%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.page:hover {
    background-color: #4B8CBE;
}

.page-icon-container {
    background: white;
    padding: 15% 20%;
    border-radius: 80px;
    color: #F7D784;
}

.page-icon {
    font-size: 40px;
    text-align: center;
    margin: 0;
}

.page-name {
    color: white;
    margin-top: 40px;
    margin-bottom: 20px;
}

.page-title {
    font-family: 'Nova Slim', cursive;
    color: #0B5B98;
    text-align: center;
    margin-bottom: 80px;
}

.page-header {
    display: flex;
    justify-content: space-between;
}

.header-container {
    display: flex;
    justify-content: space-around;
    width: 20%;
    align-items: center;
    margin-right: 5%;
}

.page-logo {
    margin-left: 5%;
    font-family: 'Nova Slim', cursive;
    color: #0B5B98;
    cursor: pointer;
}

.header-icon-container {
    background: #0B5B98;
    padding: 5% 7%;
    border-radius: 60%;
    cursor: pointer;
    position: relative;
}

.header-icon {
    font-size: 30px;
    color: white;
    margin: 0;
}

.notif {
    position: absolute;
    top: 5%;
    right: 20%;
    background: red;
    padding: 1% 8%;
    border-radius: 50%;
    color: white;
}